<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--
  <app-header-condense [title]="'aaa'"></app-header-condense>
  -->
  <ion-list>
    <ion-button expand="block" class="ion-margin" color="primary" (click)="get()">Get</ion-button>
    <ion-button expand="block" class="ion-margin" color="secondary" (click)="set()">Set</ion-button>
    <ion-button expand="block" class="ion-margin" color="warning" (click)="remove()">Remove</ion-button>
    <ion-button expand="block" class="ion-margin" color="danger" (click)="clear()">Clear</ion-button>

    <ion-button expand="block" class="ion-margin" color="tertiary" (click)="toast()">Toast</ion-button>
  </ion-list>
</ion-content>
